.combo-box-base {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
}
.Label {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
}
.button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
}
.checkbox .box {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
}
